.aboutus {
  .sub_visual {
  }

  .inner {
    width: 1180px;
    margin: 0 auto;

    .boxwrap {
      width: 100%;
      height: 100%;
      margin-bottom: 250px;

      .line {
        width: 1px;
        height: 280px;
        background: $BkColor;
        float: left;
      }

      article {
        width: calc((100% / 3) - 1px);
        height: 300px;
        float: left;
        background: #fff;
        text-align: center;
        padding: 2%;

        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 350px;
          background: $Strongcolor;
          position: absolute;
          right: 0;
          bottom: 20px;
          z-index: -3;
        }

        &:nth-of-type(3) {
          margin-right: 0px;
        }

        i {
          font-size: 30px;
          padding-top: 16px;
          color: $DbgColor;
        }

        h3 {
          padding: 20px 0;
          font: bold 18px/1 "Voces", cursive;
          color: $DkColor;
        }

        p {
          font: normal 16px/1.2 "arial";
        }
      }

      &::after {
        content: "";
        display: block;
        clear: both;
      }
    }

    .intro {
      height: 100%;
      text-align: center;
      margin: 0 auto;
      width: 80%;
      h1 {
        font: normal 40px/1 "arial";
        margin-bottom: 50px;
      }
      p {
        font: normal 18px/1.2 "arial";
        margin-bottom: 150px;
      }
    }

    .puzzle {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;

      .wrap {
        width: 380px;
        height: 1180px;
        margin-right: 20px;
        text-align: center;

        &:nth-of-type(3) {
          margin-right: 0px;
        }
        .banner1 {
          height: 380px;
          background: url(../img/pexels-jill-burrow-6387848.jpg);
          background-position: center;
          background-size: cover;
          margin-bottom: 20px;
        }

        .banner2 {
          height: 380px;
          background: $BkColor;
          margin-bottom: 20px;
          h2 {
            padding-top: 40%;
            font: bold 60px/1 "Pompiere", cursive;
          }
        }

        .banner3 {
          height: 380px;
          background: $BgColor;
          h2 {
            padding-top: 40%;
            font: normal 50px/1 "Lalezar", cursive;
          }
        }

        .banner4 {
          height: 360px;
          background: $Hovercolor;
          margin-bottom: 20px;
          h2 {
            padding-top: 40%;
            font: normal 60px/1 "Passion One", cursive;
          }
        }

        .banner5 {
          height: 800px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url(../img/pexels-marina-leonova-7486107.jpg);
        }

        .banner6 {
          height: 580px;
          background-position: center;
          background-size: cover;
          margin-bottom: 20px;
          background-image: url(../img/pexels-linda-prebreza-286951.jpg);
        }

        .banner7 {
          height: 280px;
          background: $DbgColor;
          margin-bottom: 20px;
          h2 {
            padding-top: 28%;
            font: normal 50px/1 "Fugaz One", cursive;
          }
        }

        .banner8 {
          height: 280px;
          background: $DkColor;
          h2 {
            padding-top: 28%;
            font: normal 50px/1 "Prosto One", cursive;
          }
        }
      }
    }

    // .division {
    //   margin-top: 50px;
    //   background: url(../img/images.jpg) no-repeat center;
    //   width: 100%;
    //   height: 800px;
    // }

    .div_tree {
      position: absolute;
      top: -9999px;
      opacity: 0;

      //1depth
      li {
        span {
          margin-left: 50px;
          display: block;
          width: 25%;
          height: 50px;
          background: rgb(5, 136, 251);
          /*폰트정렬 유심히 보기*/
          font: bold 13px/50px "arial";
          color: white;
          text-align: center;
          margin-bottom: 20px;
          border-radius: 20px;
          position: relative;

          &:hover {
            background: rgb(71, 71, 71);
            transition: 0.8s;
          }

          &::after {
            content: "";
            display: block;
            width: 1px;
            height: calc((50px + 20px) * 2 - 25px);
            background: #aaa;
            position: absolute;
            top: 50px;
            left: 50px;
          }
        }

        //2depth
        ul li {
          span {
            transform: translateX(70px);
            background: rgb(100, 181, 252);

            &:hover {
              background: rgb(71, 71, 71);
              transition: 0.8s;
              color: white;
            }

            &::before {
              content: "";
              display: block;
              height: 1px;
              width: 16%;
              background: gray;
              position: absolute;
              top: 50%;
              left: -20px;
            }
          }

          &:nth-of-type(1) span::after {
            height: 0;
          }

          &:nth-of-type(2) span::after {
            height: calc((50px + 20px) * 14 - 25px);
            background: gray;
          }

          //3depth
          ul li {
            span {
              transform: translateX(140px);
              background: rgb(186, 221, 252);
              font: bold 13px/50px "arial";
              color: rgb(3, 113, 248);
            }

            &:nth-of-type(1) span::after {
              height: calc((50px + 20px) * 2 - 25px);
              background: gray;
            }

            &:nth-of-type(2) span::after {
              height: calc((50px + 20px) * 2 - 25px);
              background: gray;
            }

            &:nth-of-type(3) span::after {
              height: calc((50px + 20px) * 2 - 25px);
              background: gray;
            }

            &:nth-of-type(4) span::after {
              height: calc((50px + 20px) * 3 - 25px);
              background: gray;
            }

            &:nth-of-type(5) span::after {
              height: calc(70px - 25px);
              background: gray;
            }

            //4depth
            ul li {
              span {
                transform: translateX(210px);
                background: rgb(237, 243, 248);
                color: rgb(3, 113, 248);

                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .department {
    .inner {
      width: 100%;
      .division {
        background: url(../img/images.jpg) no-repeat center;
        width: 100%;
        height: 800px;
      }
    }
  }
}
@media screen and (max-width: $mobile) {
  .department {
    .inner {
      width: 100%;

      h1 {
        font-size: 40px;
      }

      .division {
        height: auto;
        background: none;

        .div_tree {
          position: relative;
          top: 0px;
          opacity: 1;
          transition: 3s;
        }
      }

      /*호버가 안걸리는 이유?*/
    }
  }
}
