.contactus {
  .sub_visual {
  }

  .inner {
    width: 1180px;
    margin: 0 auto;

    .innertop {
      width: 100%;
      height: 100%;
      text-align: center;
      border-bottom: 1px dotted $BkColor;
      padding-bottom: 100px;
      p {
        font: normal 17px/1 "Voces", cursive;
        text-align: center;
        color: $DkColor;
      }
      h1 {
        font: normal 30px/1.2 "Voces", cursive;
        text-align: center;
        display: inline;
        color: $BkColor;
      }

      h2 {
        font: normal 30px/1 "Voces", cursive;
        text-align: center;
        color: $DkColor;
        display: inline;
      }
    }

    .contwrap {
      width: 100%;
      height: 100%;

      article {
        float: left;
        width: 380px;
        margin-right: 20px;
        padding-top: 50px;
        padding-bottom: 120px;
        text-align: center;
        h3 {
          color: $OrColor;
          margin-bottom: 22px;
          font: bold 18px/1 "arial";
        }
        p {
          color: $DkColor;
          margin-bottom: 5px;
          font: bold 17px/1 "arial";
        }

        &:nth-of-type(3) {
          margin-right: 0px;

          .wrap {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;

            a {
              display: block;
              font: bold 30px/1 "arial";
              color: $DkColor;
              margin-right: 10px;
            }

            a:hover {
              color: $OrColor;
            }
          }
        }
      }

      &::after {
        content: "";
        display: block;
        clear: both;
      }

      fieldset {
        padding: 8%;
        width: 100%;
        height: 100%;
        box-shadow: 3px 2px 2px 2px lightgray;
        border: 1px solid lightgray;

        input {
          margin-bottom: 30px;
          width: 100%;
          height: 50px;
          &::placeholder {
            color: $DkColor;
            font: normal 17px/1 "arial";
          }
        }
        textarea {
          width: 100%;
          resize: none;
          height: 120px;
          padding-top: 13px;

          &::placeholder {
            color: $DkColor;

            font: normal 17px/1 "arial";
          }
        }

        #map {
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}
