@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lalezar&family=Passion+One&family=Patua+One&family=Pompiere&family=Prosto+One&family=Racing+Sans+One&family=Red+Rose:wght@300&family=Stardos+Stencil&family=Stint+Ultra+Condensed&family=Unica+One&family=Voces&display=swap");

$Strongcolor: rgb(199, 223, 227);
$Hovercolor: rgb(179, 222, 224);
$BgColor: rgb(110, 163, 176);
$OrColor: rgb(39, 122, 145);
$GrColor: rgb(242, 246, 246);
$LGColor: rgb(221, 219, 219);
$BkColor: rgb(114, 113, 113);
$DkColor: rgb(56, 52, 52);

/*
font-family: 'Fugaz One', cursive;
font-family: 'Lalezar', cursive;
font-family: 'Passion One', cursive;
font-family: 'Pompiere', cursive;
font-family: 'Prosto One', cursive;
font-family: 'Unica One', cursive;
font-family: 'Voces', cursive;
*/
