@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lalezar&family=Passion+One&family=Patua+One&family=Pompiere&family=Prosto+One&family=Racing+Sans+One&family=Red+Rose:wght@300&family=Stardos+Stencil&family=Stint+Ultra+Condensed&family=Unica+One&family=Voces&display=swap");

$Strongcolor: rgb(231, 244, 247);
$Hovercolor: rgb(142, 192, 193);
$BgColor: rgb(86, 141, 155);
$OrColor: rgb(39, 122, 145);
$GrColor: rgb(209, 207, 207);
$BkColor: rgb(90, 81, 81);
$DkColor: rgb(56, 52, 52);

/*
font-family: 'Fugaz One', cursive;
font-family: 'Lalezar', cursive;
font-family: 'Passion One', cursive;
font-family: 'Patua One', cursive;
font-family: 'Pompiere', cursive;
font-family: 'Prosto One', cursive;
font-family: 'Stardos Stencil', cursive;
font-family: 'Stint Ultra Condensed', cursive;
font-family: 'Unica One', cursive;
font-family: 'Voces', cursive;
*/
