@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lalezar&family=Passion+One&family=Patua+One&family=Pompiere&family=Prosto+One&family=Racing+Sans+One&family=Red+Rose:wght@300&family=Stardos+Stencil&family=Stint+Ultra+Condensed&family=Unica+One&family=Voces&display=swap");
$Hovercolor: rgb(231, 223, 223);
$Strongcolor: rgb(231, 222, 222);
$BgColor: rgb(176, 157, 157);
$BkColor: rgb(103, 92, 92);
$DkColor: rgb(42, 36, 36);

/*
font-family: 'Fugaz One', cursive;
font-family: 'Lalezar', cursive;
font-family: 'Passion One', cursive;
font-family: 'Patua One', cursive;
font-family: 'Pompiere', cursive;
font-family: 'Prosto One', cursive;
font-family: 'Stardos Stencil', cursive;
font-family: 'Stint Ultra Condensed', cursive;
font-family: 'Unica One', cursive;
font-family: 'Voces', cursive;
*/
