.department {
  .sub_visual {
  }

  .inner {
    width: 1180px;
    margin: 0 auto;
    .innertop {
      width: 100%;
      height: 100%;
      text-align: center;
      border-bottom: 1px dotted $BkColor;
      padding-bottom: 100px;
      p {
        font: normal 17px/1 "Merriweather", serif;
        text-align: center;
        color: $Strongcolor;
      }
      h1 {
        font: normal 30px/1.2 "Merriweather", serif;
        text-align: center;
        display: inline;
      }

      h2 {
        font: normal 30px/1 "Merriweather", serif;
        text-align: center;
        color: $Strongcolor;
        display: inline;
      }
    }

    .division {
      margin-top: 80px;
      background: url(../img/images.jpg) no-repeat center;
      width: 100%;
      height: 800px;
    }

    .div_tree {
      position: absolute;
      top: -9999px;
      opacity: 0;

      //1depth
      li {
        span {
          margin-left: 50px;
          display: block;
          width: 25%;
          height: 50px;
          background: rgb(5, 136, 251);
          /*폰트정렬 유심히 보기*/
          font: bold 13px/50px "arial";
          color: white;
          text-align: center;
          margin-bottom: 20px;
          border-radius: 20px;
          position: relative;

          &:hover {
            background: rgb(71, 71, 71);
            transition: 0.8s;
          }

          &::after {
            content: "";
            display: block;
            width: 1px;
            height: calc((50px + 20px) * 2 - 25px);
            background: #aaa;
            position: absolute;
            top: 50px;
            left: 50px;
          }
        }

        //2depth
        ul li {
          span {
            transform: translateX(70px);
            background: rgb(100, 181, 252);

            &:hover {
              background: rgb(71, 71, 71);
              transition: 0.8s;
              color: white;
            }

            &::before {
              content: "";
              display: block;
              height: 1px;
              width: 16%;
              background: gray;
              position: absolute;
              top: 50%;
              left: -20px;
            }
          }

          &:nth-of-type(1) span::after {
            height: 0;
          }

          &:nth-of-type(2) span::after {
            height: calc((50px + 20px) * 14 - 25px);
            background: gray;
          }

          //3depth
          ul li {
            span {
              transform: translateX(140px);
              background: rgb(186, 221, 252);
              font: bold 13px/50px "arial";
              color: rgb(3, 113, 248);
            }

            &:nth-of-type(1) span::after {
              height: calc((50px + 20px) * 2 - 25px);
              background: gray;
            }

            &:nth-of-type(2) span::after {
              height: calc((50px + 20px) * 2 - 25px);
              background: gray;
            }

            &:nth-of-type(3) span::after {
              height: calc((50px + 20px) * 2 - 25px);
              background: gray;
            }

            &:nth-of-type(4) span::after {
              height: calc((50px + 20px) * 3 - 25px);
              background: gray;
            }

            &:nth-of-type(5) span::after {
              height: calc(70px - 25px);
              background: gray;
            }

            //4depth
            ul li {
              span {
                transform: translateX(210px);
                background: rgb(237, 243, 248);
                color: rgb(3, 113, 248);

                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .department {
    .inner {
      width: 100%;
      .division {
        background: url(../img/images.jpg) no-repeat center;
        width: 100%;
        height: 800px;
      }
    }
  }
}
@media screen and (max-width: $mobile) {
  .department {
    .inner {
      width: 100%;

      h1 {
        font-size: 40px;
      }

      .division {
        height: auto;
        background: none;

        .div_tree {
          position: relative;
          top: 0px;
          opacity: 1;
          transition: 3s;
        }
      }

      /*호버가 안걸리는 이유?*/
    }
  }
}
