.product {
  width: 100%;
  height: 100%;
  .innertop {
    width: 100%;
    height: 600px;
    display: flex;
    background: url(../img/back.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    h1 {
      font: normal 75px/1.2 "arial";
      z-index: 2;
      padding: 10% 5%;
    }

    .topright {
      width: 920px;
      height: 600px;
      position: absolute;
      right: 0px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }

  .contmid {
    margin: 0 auto;
    width: 1180px;
    padding-top: 130px;
    padding-bottom: 140px;
    height: 600px;

    .best {
      width: 100%;
      height: 100%;
      display: flex;
      background: $Strongcolor;

      .txt {
        width: 380px;
        height: 100%;
        margin-right: 20px;
        padding: 7% 5%;

        h2 {
          color: $DkColor;
          margin-bottom: 22px;
          font: bold 20px/1 "arial";
        }
        p {
          color: $DkColor;
          padding: 2px;
          font: normal 17px/1.2 "arial";
        }
      }
      .pduc {
        width: 780px;
        height: 100%;
        position: relative;
        overflow: hidden;

        ul {
          width: calc(100% * 3);
          position: absolute;
          left: 100%;
          padding: 20px 0px;
          height: 100%;

          li {
            width: calc(100% / 3);
            height: 100%;
            justify-content: center;
            align-items: center;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;

            article {
              width: 100%;
              height: 100%;
              margin-right: 20px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
    .control {
      float: right;
      right: 10px;
      top: 10px;
      position: relative;

      i {
        color: black;
        font-size: 25px;
        margin-right: 10px;
      }
    }
  }

  .midbanner {
    width: 100%;
    height: 500px;
    background: url(../img/back2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    .pic {
      width: 750px;
      height: 500px;
      position: absolute;
      left: 0px;
      img {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
      }
    }
    .txt {
      height: 500px;
      width: 700px;
      position: absolute;
      right: 10px;
      z-index: 2;
      padding-top: 150px;

      h2 {
        font: normal 60px/1.2 "arial";
        padding-bottom: 15px;
      }
      p {
        font: normal 22px/1 "arial";
        color: black;
      }
    }
  }

  .contbottom {
    margin: 10% auto 0 auto;
    width: 1180px;
    padding-bottom: 140px;
    height: 600px;
    position: relative;

    .txt {
      width: 600px;
      height: 600px;
      padding: 13% 10%;
      margin-right: 20px;
      background: $Strongcolor;

      h2 {
        font: bold 27px/1 "arial";
        color: black;
        margin-bottom: 20px;
      }

      h2 {
        font: bold 27px/1 "arial";
        color: black;
        margin-bottom: 20px;
      }
    }

    .pic {
      height: 450px;
      width: 650px;
      top: 12%;
      right: 10px;
      position: absolute;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
