@charset "UFT-8";
@import "reset.scss";
@import "decoration.scss";

@import "sub_layout.scss";
@import "information.scss";
@import "aboutus.scss";
@import "community.scss";
@import "contactus.scss";
@import "join.scss";

//미디어쿼리 설정

header {
  width: 100%;
  height: 100%;

  .visual {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #000;
    height: 100vh;

    .mobilenav {
      display: none;
      position: absolute;
      top: 3.5%;
      right: 7%;

      .btnCall {
        position: absolute;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
      }
      .btnCall::before {
        content: "";
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        left: 0px;
        top: 0px;
        transition: 0.5s 0s, transform 0.5s 0.5s;
      }

      .btnCall::after {
        content: "";
        width: 100%;
        height: 2px;
        background: white;
        position: absolute;
        left: 0px;
        bottom: 0px;
        transition: 0.5s 0s, transform 0.5s 0.5s;
      }

      .btnCall span {
        background: white;
        height: 2px;
        position: absolute;
        width: 100%;
        top: calc(50% - 1px);
        text-indent: -9999px;
      }

      .btnCall:hover::after {
        transform: rotate(-45deg);
        bottom: calc(50% - 1px);
      }

      .btnCall:hover::before {
        transform: rotate(45deg);
        top: calc(50% - 1px);
      }

      .btnCall:hover span {
        transform: translateX(100%);
        opacity: 0;
      }
    }

    video {
      width: 100%;
      object-fit: cover;
      opacity: 0.7;
      height: 100%;
      position: absolute;
    }
    .top_header {
      width: 100%;
      height: 160px;
      position: relative;

      .webnav {
        width: 1180px;
        height: 100%;
        margin: 0 auto;
        padding-top: 30px;

        .top_nav {
          width: 100%;
          height: 50px;

          margin: 0 auto;
          display: flex;
          justify-content: space-between;

          &:after {
            content: "";
            display: block;
            clear: both;
          }
          ul li {
            float: left;
            margin-right: 20px;

            a {
              color: white;
              font: bold 17px/1 "arial";
              transition: 0.5s;
            }
            a:hover {
              color: $DkColor;
            }

            &:nth-of-type(2) {
              margin-right: 0;
            }
          }

          h1 {
            padding-right: 15px;
            margin: 0 auto;

            a {
              font: bold 50px/1px "arial";
              color: white;
              transition: 0.5s;

              &:hover {
                color: $DkColor;
              }
            }
          }
        }

        .centernav {
          height: 100%;
          width: 100%;
          margin: 0 auto;
          position: relative;
          padding-left: 6%;

          &:after {
            content: "";
            display: block;
            clear: both;
          }

          ul {
            height: 100%;
            text-align: center;
            li {
              margin-right: 20px;
              text-align: center;
              display: inline;

              a {
                color: white;
                transition: 0.5s;
                font: bold 17px/1 "arial";
              }

              a:hover {
                color: $DkColor;
              }

              &:nth-of-type(3) {
                margin-right: 0px;
              }
            }
          }
        }
      }
    }

    .inner {
      position: absolute;
      width: 90%;
      bottom: 20%;
      padding-left: 5%;
      h2 {
        color: white;
        font-size: 60px;
      }

      p {
        padding-top: 1%;
        font: normal 17px/1.2 "arial";
        margin-bottom: 30px;
        color: white;
      }

      a {
        display: inline-block;
        padding: 10px 40px;
        color: white;
        background: $DkColor;
        border: 1px solid #fff;
      }
    }
  }
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 5;
    background: $OrColor;
    opacity: 0.8;
    padding: 10px;
    height: 180px;
    width: 360px;

    i {
      position: absolute;
      color: white;
      right: 10px;
      top: 8px;
      font-size: 25px;
      font-style: normal;
    }

    .inner {
      margin: 0 auto;
      padding: 8px;
      border: 1px solid white;

      h2 {
        padding-top: 5px;
        font: normal 20px/1.2 "arial";
        color: white;
        padding-bottom: 5px;
      }
      p {
        font: normal 15px/1.1 "arial";
        color: white;
      }
      > a {
        display: block;
        color: white;
        width: 100%;
        background: $BgColor;
        border: 1px solid #fff;
        text-align: center;
        padding-bottom: 5px;
      }

      input[type="checkbox"] {
        margin-right: 5px;
      }
    }
  }
  .top {
    width: 100%;
    height: 100%;
    margin: 0 auto;

    article {
      background: white;
      box-sizing: border-box;
      width: 240px;
      height: 100px;
      text-align: center;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-150%, -130%);
      margin-right: 7px;
      border: 8px solid $Strongcolor;
      float: left;
      box-shadow: 1px 3px 5px rgb(44, 44, 44);

      i {
        font-size: 30px;
        padding-top: 16px;
        color: $OrColor;
      }

      h3 {
        padding-top: 10px;
        font: bold 14px/1 "Voces", cursive;
        color: $DkColor;
      }
    }
  }
}

.content {
  width: 100%;
  height: 100%;

  .boxwrap {
    width: 1180px;
    margin: 10% auto;
    border: 1px solid red;
    height: 100%;

    .box1 {
      width: 100%;
      height: 420px;
      position: relative;

      .pic {
        width: 55%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/set.jpg);
      }

      .txt {
        width: 50%;
        height: 75%;
        margin-top: 5%;
        background: $Hovercolor;
        position: absolute;
        right: 0px;
        top: 0px;

        padding: 7%;

        h4 {
          font: normal 30px/1 "arial";
          color: black;
        }
        p {
          padding-top: 5%;
          font: normal 17px/1.2 "arial";
          color: black;
        }
      }
    }
    .box2 {
      width: 100%;
      height: 420px;
      margin: 0 auto;
      position: relative;
      padding-top: 8%;
      margin-bottom: 8%;

      .pic {
        width: 55%;
        height: 100%;
        right: 0px;
        position: absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/set2.jpg);
      }

      .txt {
        background: $Hovercolor;
        width: 50%;
        height: 75%;
        margin-top: 5%;
        position: absolute;

        padding: 7%;

        h4 {
          font: normal 30px/1 "arial";
          color: black;
        }
        p {
          padding-top: 5%;
          font: normal 17px/1.2 "arial";
          color: black;
        }
      }
    }
  }

  .servicelist {
    background: $DkColor;
    width: 100%;
    height: 300px;
    .inner {
      padding-top: 80px;
      width: 1180px;
      height: 100%;
      h2 {
        font: normal 17px/1 "arial";
        color: #fff;
        padding-bottom: 5px;
      }
      h3 {
        font: bold 22px/1.2 "arial";
        color: #fff;
      }

      .wrap {
        width: 100%;
        padding-top: 3%;
        article {
          width: 380px;
          height: 400px;
          margin-right: 20px;
          float: left;
          background: #fff;

          &:nth-of-type(3) {
            margin-right: 0px;
          }
        }
      }
    }
  }
  .award {
    width: 100%;
    height: 100%;
    background: $Hovercolor;
  }
}

#footer {
  width: 100%;
  padding: 100px 0;
  background: $DkColor;
  margin-top: 10%;

  .inner {
    width: 100%;
    margin: 0 auto;

    h1 {
      font: bold 24px/1 "arial";
      color: $Strongcolor;
      text-align: center;
    }

    p {
      font: 12px/1 "arial";
      color: $Strongcolor;
      padding-top: 10px;
      text-align: center;
    }
  }
}

@media screen and (max-width: $tablet) {
  header {
    .visual {
      width: 100%;
      margin: 0 auto;

      .mobilenav {
        display: none;
      }

      .top_header {
        padding-left: 4%;
        padding-right: 4%;
        .webnav {
          width: 100%;
          .top_nav {
            ul li {
              a {
                font: normal 15px/1 "arial";
              }
            }

            h1 {
              a {
                font: bold 40px/1 "aria";
              }
            }
          }
          .centernav {
            width: 100%;
            ul {
              li {
                a {
                  font: normal 14px/1 "arial";
                }
              }
            }
          }
        }
      }

      .inner {
        h1 {
          font-size: 40px;
        }

        p {
          font: normal 15px/1.2 "arial";
          margin-bottom: 20px;
        }

        a {
          display: inline-block;
          padding: 6px 30px;
          font-size: small;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  header {
    width: 100%;
    background: black;

    .visual {
      width: 100%;
      margin: 0 auto;
      height: 800px;
      background-image: url(../img/pexels-olia-danilevich-5120894.jpg);
      background-size: cover;

      .mobilenav {
        display: block;
        z-index: 5;
      }

      video {
        display: none;
      }

      .top_header {
        .webnav {
          width: 100%;
          .top_nav {
            ul li {
              display: none;
            }

            h1 {
              position: relative;
              a {
                font: bold 40px/1 "aria";
              }
            }
          }
          .centernav {
            width: 100%;
            padding-left: 0px;
            ul {
              li {
                a {
                  font: normal 14px/1 "arial";
                }
              }
            }
          }
        }
      }
    }
  }
}
