.scene {
	width: 600px;
	height: 200px;
	perspective: 1000px;
}

.wrap {
	width: 100%;
	height: 100%;
	margin-left: 500px;
}

.cube {
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: ease-in-out 1s;
}
.cube__face {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid aqua;

	.proinner {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
	}
}
.cube__face--front {
	width: 600px;
	height: 200px;
	transform: rotate(0deg) translateZ(100px);
}
.cube__face--right {
	width: 200px;
	height: 200px;
	left: 400px;
	transform: rotateY(-90deg) translateZ(-100px);
}
.cube__face--back {
	width: 600px;
	height: 200px;
	transform: rotateY(180deg) translateZ(100px);
	.proinner {
		transform: rotate(180deg);
	}
}
.cube__face--left {
	width: 200px;
	height: 200px;
	left: -200px;
	transform: rotateY(-90deg) translateZ(-100px);
}
.cube__face--top {
	width: 600px;
	height: 200px;
	transition: center center;
	transform: rotateX(90deg) translateZ(-100px);

	.proinner {
		transform: rotateX(-180deg);
	}
}
.cube__face--bottom {
	width: 600px;
	height: 200px;
	transition: center center;
	transform: rotateX(-360deg) rotateX(-90deg) translateZ(-100px);

	.proinner {
		transform: rotateX(-180deg);
	}
}
